@media screen and (max-width: 480px) {
    .cubeContainer {
        width: 50%;
        top: 58%;
        padding-top: 18%;
        margin-left: 30%;
        position: relative;
        right: 0;
        overflow:visible;
    }
}