.home-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        font-size:x-large;
        width: 100%;
        max-height: 100%;
        color: #F4F9E8;
    }
    h1 {

        &::before {
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: #F4F9E8;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            opacity: 0.5;
            animation: fadeIn 1s 1.7s backwards;
        }

        &::after {
            content: '<h1 />';
            font-family: 'La Belle Aurore';
            color: #F4F9E8;
            font-size: 18px;
            position: absolute;
            margin-top: 15px;
            margin-left: 20px;
            opacity: 0.5;
            animation: fadeIn 1s 1.7s backwards;
        }
    }

    h2 {
        color: #F4F9E8; 
        margin-top: 20px;
        font-weight: 400;
        font-size: 12px;
        font-family: sans-serif;
        letter-spacing: 2px;

    }

    .flat-button {
        color: white;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 3px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px ridge #d1b800;
        border-radius: 4px;
        margin-top: 25px;
        float: left;
        background: 0 0 #d1b800;
    }

    img {
        width: 500px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        top: 20%;
        opacity: .9;
    }

}

