.home-page {

    .text-zone {
        position: relative;
        left: 30%;
        top: 40%;
        transform: translateY(-50%);
        font-size: medium;
        width: 60%;
        max-height: 90%;

    }
    h1 {
        
        img {
            width: 300px;
        }
    }
}