
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 1px/1.4 'Helvetica Neue', 'sans-serif';
  color: #F4F9E8;
  background:#181D2f;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
